/* Place CSS styles here */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
  }
.hallie-logo {
    width: 130px;
    display: block;
    justify-content: center;
    padding: 10px;
  }
.hallie-logo-wrapper{
max-width: 2000px;
display: flex;
justify-content: center;
}
.hallie-header-wrapper,
.hallie-main-content-wrapper,
.hallie-footer-wrapper
.hallie-main-content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.hallie-header{
max-width: 2000px;
background-color:rgba(161, 101, 49, 0.40);
padding: 36px;
}
.hallie-intro{
    background:
    linear-gradient(
        rgba(161, 101, 49, 0.20),
        rgba(161, 101, 49, 0.20)
    ),
    url(../img/hallie3.png);
  padding-top: 150px;
  padding-bottom: 150px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.hallie-feature-image {
    max-width: 250px;
  }
  
.hallie-feature-images {
    display: flex;
    gap: 12px;
  }
body{
background-color: white
}
h1{
display: flex;
justify-content: center;
color: black;
font-family:'Libre Baskerville', serif;
font-size: 36px;
}
.contact{
    padding: 20px;
    border-radius: 20px;
    background: rgba(161, 101, 49, 0.40);
    margin-bottom: 32px;
}
.hallie-contact {
display: flex;
justify-content: center;
font-family:'Julius Sans One', sans-serif;
text-decoration: none;
padding: 6px
}
.submit-button{
display: flex;
justify-content: center;
}
.hallie-main-nav {
    display: flex;
    justify-content: center;
    gap: 35px;
}
.button{
    font-family: 'Libre Baskerville', serif;
    background-color:#a16531;
    color:black;
    border-radius: 30px;
    font-size: 16px;
    padding: 15px;
}
.button:hover,
.button:focus {
    background-color:white;
    border-color: #deded2;
}
.hallie-main-nav a {
    text-decoration: none;
    color: white;
    transition: all ease .25s;
}
  
.hallie-main-nav a:hover {
    color: black;
}
.hallie-social-link:hover {
    border: 2px solid black;
}
  
.hallie-social-links {
    display: flex;
    gap: 16px;
}
  
.hallie-social-link-image {
    width: 32px;
}
.hallie-service-list {
    padding-left: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 300px;
}
.hallie-about{
font-family:'Julius Sans One', sans-serif; ;
display: flex;
justify-content: center;
text-align: center;
}
@media (max-width: 999px) {
    .hallie-service-list {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        grid-gap:4px
    }
}
  
.hallie-service-list a {
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: grayscale(.5);
    text-decoration: none;
}
  
.hallie-service-list a:hover {
    filter: grayscale(0);
}
  
.hallie-service-list p {
    font-family:'Julius Sans One', sans-serif;
    font-size: 20px;
}
  
.hallie-footer-wrapper {
    padding-top: 32px;
    border-top: 1px solid black;
}
  
.hallie-footer {
    background-color: rgba(161, 101, 49, 0.40);
    display: flex;
    justify-content: space-between;
}
.hallie-copyright{
display: flex;
justify-content: center;
}
@media (max-width: 1000px) {
    .hallie-main-nav {
      display: none;
    }
  }
.mobile-main-nav {
    display: none;
    flex-direction: column;
    align-items:center;
    text-decoration: none;
    background-color:rgba(161, 101, 49, 0.40);
    position: absolute;
    top: 132px;
    left: 0;
    right: 0;
  }
  .mobile-main-nav a {
    padding: 8px;
    text-decoration: none;
  }
  
  @media (min-width: 1000px) {
    .mobile-nav-wrapper {
      display: none;
    }
  }
.mobile-menu{
    font-family:'Julius Sans One', sans-serif;
    text-decoration: none;
    color: black;
}
.hallie-image{
max-width: 100px;
}
.hallie-image-main{
max-width: 300px;
}
.hallie-feature-content{
padding: 40px;
}
.hallie-image-main-about{
max-width: 300px;
}
.hallie-gallery-single{
display: flex;
justify-content:right;
}
.hallie-description{
    font-family:'Julius Sans One', sans-serif;
}
.hallie-content-description{
display: flex;
justify-content: left;
}