/* Place CSS styles here */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
  }
.hallie-header-wrapper,
.hallie-main-content-wrapper,
.hallie-footer-wrapper
.hallie-main-content {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.hallie-header{
background-color: rgba(0, 167, 157, 0.20);
padding: 15px;
}
body{
background-color: 
rgba(169, 124, 80, 0.20);
}
h1{
display: flex;
justify-content: center;
color: #00A79D;
font-family:'Libre Baskerville', serif;
font-size: 36px;
}
.contact{
    padding: 20px;
    border-radius: 20px;
    background: rgba(0, 167, 157, 0.20);
    margin-bottom: 32px;
}
h2{
display: flex;
justify-content: center;
color: #00A79D;
font-family:'Libre Baskerville', serif;
font-size: 36px;
}
.hallie-contact {
display: flex;
justify-content: center;
font-family:'Julius Sans One', sans-serif;
text-decoration: none;
padding: 6px
}

.submit-button{
display: flex;
justify-content: center;
}
.hallie-main-nav {
    display: flex;
    justify-content: center;
    gap: 35px;
}
.button{
    font-family: 'Libre Baskerville', serif;
    background-color:#00A79D;
    color:black;
    border-radius: 30px;
    font-size: 16px;
    padding: 15px;
}
.button:hover,
.button:focus {
    background-color:white;
    border-color: #deded2;
}
.hallie-main-nav a {
    text-decoration: none;
    color: white;
    transition: all ease .25s;
}
  
.hallie-main-nav a:hover {
    color: #00A79D;
}
.hallie-social-link:hover {
    border: 1px solid black;
}
  
.hallie-social-links {
    display: flex;
    gap: 16px;
}
  
.hallie-social-link-image {
    width: 32px;
}
.hallie-service-list {
    padding-left: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 4px;
}
.hallie-about{
font-family:'Julius Sans One', sans-serif; ;
display: flex;
justify-content: center;
}
@media (max-width: 999px) {
    .hallie-service-list {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
}
  
.hallie-service-list a {
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: grayscale(.5);
    text-decoration: none;
}
  
.hallie-service-list a:hover {
    filter: grayscale(0);
}
  
.hallie-service-list p {
    font-size: 20px;
}
  
.hallie-footer-wrapper {
    padding-top: 32px;
    border-top: 1px solid black;
}
  
.hallie-footer {
    background-color: rgba(0, 167, 157, 0.20);
    display: flex;
    justify-content: space-between;
}
.hallie-copyright{
display: flex;
justify-content: center;
}
@media (max-width: 999px) {
    .hallie-main-nav {
      display: none;
    }
  }
.mobile-main-nav {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 167, 157, 100);
    position: absolute;
    top: 132px;
    left: 0;
    right: 0;
  }
  
  .mobile-main-nav a {
    padding: 8px;
  }
  
  @media (min-width: 1000px) {
    .mobile-nav-wrapper {
      display: none;
    }
  }
