/* Place CSS styles here */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
  }
body{
background-color: 
rgba(169, 124, 80, 0.25);
}
h1{
display: flex;
justify-content: center;
color: #00A79D;
font-family:'Libre Baskerville', serif;
font-size: 36px;
}
.contact{
display: flex;
justify-content: center;
}
.submit-button{
display: flex;
justify-content: center;
}
.hallie-main-nav {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.button{
    background-color:#00A79D;
    color:black;
    border-radius: 10px;
    font-size: 30px;
    padding: 12px;
}
.button:hover,
.button:focus {
    background-color:white;
    border-color: #deded2;
}
.hallie-main-nav a {
    text-decoration: none;
    color: white;
    transition: all ease .25s;
}
  
.hallie-main-nav a:hover {
    color: black;
}
.hallie-social-link:hover {
    border: 1px solid black;
}
  
.hallie-social-links {
    display: flex;
    gap: 16px;
}
  
.hallie-social-link-image {
    width: 32px;
}
  
.hallie-service-list {
    padding-left: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 4px;
}
  
@media (max-width: 999px) {
    .hallie-service-list {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
}
  
.hallie-service-list a {
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: grayscale(.5);
    text-decoration: none;
}
  
.hallie-service-list a:hover {
    filter: grayscale(0);
}
  
.hallie-service-list p {
    font-size: 20px;
}
  
.hallie-footer-wrapper {
    padding-top: 32px;
    border-top: 1px solid black;
}
  
.hallie-footer {
    display: flex;
    justify-content: space-between;
}